{{ define "main" }}
  <main aria-role="main">
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{.Content}}
    </div>
    <div>
      <p>
        Si querés hablar conmigo buscame como <a href="https://twitter.com/marcelomazza" target="_blank">@marcelomazza</a>.
      </p>
      {{ range first 25 .Site.RegularPages.ByDate.Reverse }}
        <article>
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <div>{{ .Content }}</div>
        </article>
        <hr class="hr-colored">
      {{ end }}
    </div>
  </main>
{{ end }}