{{ define "main" }}
  <main aria-role="main">
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{.Content}}
    </div>
    <div>
      <p>
        Hola, en este momento el sitio tiene: 
        
        {{ len .Site.RegularPages }} páginas y
        
        {{ $scratch := newScratch }}
        
        {{ range .Site.RegularPages }}
          {{ $scratch.Add "wordcount" .WordCount }}
        {{ end }}
        
        {{ $scratch.Get "wordcount" | lang.NumFmt 0 }}
        palabras. Este número se actualiza automáticamente. Lo que es la tecnología.
      </p>
      {{ range .Site.RegularPages.ByDate.Reverse }}
        <article>
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <div>{{ .Content }}</div>
        </article>
        <hr class="hr-colored">
      {{ end }}
    </div>
  </main>
{{ end }}