{{ define "main" }}
  <main aria-role="main">
    {{ range first 1 .Site.RegularPages.ByDate.Reverse }}
      <article>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div>{{ partial "metadata.html" . }}</div>
        <div>{{ .Summary }}</div>
        <p><a href="{{ .Permalink }}">Read more...</a></p>
      </article>
      <hr class="hr-colored">
    {{ end }}
    <h4>Últimos posts / Latest posts</h4>
    {{ range first 25 (after 1 .Site.RegularPages.ByDate.Reverse) }}
      <span class="post-list-item__metadata">
        {{ partial "metadata.html" . }}
      </span>
      <h4 class="post-list-item">
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h4>
    {{ end }}    
  </main>
{{ end }}