/*
  Yes sir, just some plain old CSS
*/

html {
  /* Set parent font size */
  font-size: 18px;
}

@media (min-width: 700px) {
  html {
    font-size: 24px;
  }
}

body {
  max-width: 750px;
  /* stack from https://fontsarena.com/blog/operating-systems-default-serif-fonts/ */
  font-family: "Georgia", "Times New Roman", Times, serif;
  line-height: 1.5;
  color: #000;
  background: #FFF;
}

body {
  margin: 0 30px;
}

@media (min-width: 700px) {
  body {
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  /* stack from https://fontsarena.com/blog/operating-systems-default-sans-serif-fonts/ */
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}

article {
  margin-bottom: 10em;
}

body a {
  color: #9300ff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #CCC;
    background: #222;
  }

  body a {
    color: #00D0FF;
  }
}

.hr-colored {
  border-color: #EFEFEF;
  border-style: dashed;
}